<hr/>
<footer>
<div class="row">
  <div class="col-lg-12">

    <ul class="list-unstyled">
      <li class="pull-right" style="margin-right: 20px"><a href="?a=contacts">联系方式</a></li>
      <li class="pull-right" style="margin-right: 20px"><a href="?c=downloadfile">文档下载</a></li>
      <li class="pull-right" style="margin-right: 20px"><a href="?c=law">法律法规</a></li>
      <li class="pull-right" style="margin-right: 20px"><a href="?c=cases">案例展示</a></li>
    </ul>

  </div>
</div>
<center>
Created by <a href="http://www.xuhaixiao.com/" target="_blank" >Hackett</a> &nbsp; &copy; 2014
</center>
</footer>